.main-heading{
    font-family: 'Roboto', sans-serif;
}

.active{
    font-weight: bold;
   
}

a:hover{
   background-color: rgb(75, 235, 208) ;
   border-radius: 10px;
}

 
 nav li a:focus{
     color:yellow;
 }