.main-heading{
    font-family: 'Roboto', sans-serif;
}

.active{
    font-weight: bold;
   
}
.footer{
    margin-bottom: 0px;
   position: static;
}
a:hover{
   background-color: rgb(75, 235, 208) ;

}