<h1 class="text-white text-center p-3">
    Home Page
</h1>
<p class="text-white text-center p-5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora dignissimos reiciendis tenetur at quia autem nobis eius provident, ratione consequatur blanditiis aperiam quo, earum quam qui sunt facere soluta corrupti.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque dicta assumenda a, pariatur quisquam iure, eum labore saepe, quis ipsa vel dolor. Dolorum doloribus obcaecati iste voluptas optio laudantium laborum.
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate tenetur corrupti natus expedita, inventore facilis at optio ea enim officia. Voluptatem illum nesciunt culpa sapiente quod laborum, magnam non illo?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptates soluta ratione iure itaque dicta totam unde voluptas, fuga sapiente obcaecati id harum ipsa ipsum sequi. Fuga, odio ex! Autem.

</p>